.navbar {
  background-color: #ede369;
  height: 60px;
  :visited {
    color: white;
  }
  &__brand {
    padding: 10px 50px;
    background-color: #577bd9;
    border-radius: 20px;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
}
