.image {
  width: "100%";
}

.img-fluid {
  max-width: 75%;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Neumorphism */
.neumorphism {
  text-align: center;
}

.neumorphism .box {
  border-radius: 10px;
  align-self: center;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
}
