<div>
  <% @pictures.each do |picture| %>
  <div class="index-container">
    <p>
      [話数] <%= picture.episode %>
    </p>
    <p>
      [セリフ] <%= picture.serif %>
    </p>
    <%= image_tag(image_url(picture.picture), class: 'image') %><br />
  </div>
  <% end %>
</div>