<h1>画像詳細画面</h1>
<ul>
  <li>ID: <%= @picture.id %></li>
  <li>PV数</li>
  <li><%= @picture.impressions_count %></li>
</ul>
<div class="text-center">
  <%= image_tag(image_url(@picture.picture), class: 'img-fluid') %>
</div>