<div class="container-fluid" style="height: calc(100vh - 53px);">
  <div class="neumorphism">
    <%= image_tag(image_url(@picture.picture), class: 'img-fluid box') %>
  </div>
  <!-- <p class="view">view: <%=@picture.impressions_count %></p> -->
</div>